body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

header .logo img{
    height: 50px;

}
.navbar {
    background-color: #fff;
    height: 80px;
    border-bottom: 1px solid #ddd;
    padding: 0.5rem;
}

.navbar-brand {
    font-weight: 500;
    color: #620101d8;
    font-size: 24px;
    transition: color 0.3s ease;
}

.login-button {
    background-color: #620101d8;
    color: #fff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #000000;
}

.navbar-toggler {
    border: none;
    font-size: 1.5rem;
}

.navbar-toggler:focus,
.btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: #666777;
    font-weight: 500;
    position: relative;
    transition: color 0.3s ease;
}

.nav-link:hover,
.nav-link.active:hover {
    color: #000;
}

@media (min-width: 991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #620101d8;
        visibility: hidden;
        transition: width 0.3s ease-in-out;
    }

    .nav-link:hover::before,
    .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }
}

.sidebar {
    position: fixed;
    top: 130px;
    left: 10px;
    height: calc(90% - 80px);
    width: 180px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-top: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px 20px;
}

.sidebar ul li a {
    color: #333;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar ul li a:hover {
    background-color: #620101d8;
    color: #fff;
}

.products-section {
    padding: 60px 0;
    margin-left: 400px;
}

.products-section h2 {
    margin-bottom: 40px;
    font-weight: 700;
}

.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 30px;
}

.product-card img {
    width: 100%;
    height: auto;
    display: block;
}

.product-card .product-info {
    padding: 15px;
    text-align: center;
}

.product-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #620101d8;
    color: white;
    padding: 30px 0;
}

footer .logo img {
    height: 50px;
}

footer .footer-info {
    margin-top: 10px;
}

footer .footer-info p {
    margin: 5px 0;
}
